<!--Starter code for Processing JS tutorial-->
<!DOCTYPE html>
<html>

<head>
    <title>Processing JS</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='../js/processing.js'></script>
</head>

<body>
    <div class='container'>
        <form action="/getCanvas">
            <select name='files'>
                <option value='fractalCircle.pde'>fractalCircle.pde</option>
                <option value='processing.pde'>processing.pde</option>
            </select>
            <input type="submit">
        </form>
    </div>
</body>

</html>